.chatContainer{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3em;
    position: relative;
}
.friendsChatContainer {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    flex:1;
    height: calc(100vh - 3em);
    padding:1em;
}
.friendsChatContainerTitle{
    font-family: 'Goldman',cursive;
    font-size: 28px;
    font-weight: 500;
    padding: 0.5em 1em;
}
.friendsList{
    flex:1;
    display: flex;
    flex-direction: column;
    padding: 1em;
    border-radius: 1em;
    border-top-right-radius:0 ;
    border-bottom-right-radius: 0;
    overflow-y: Scroll;
}

.chatBoxContainer{
    flex:1;
    display: flex;
        /* padding: 1em; */
    border-radius: 1em;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    flex-direction: column;
}
.friend{
    display: flex;
    align-items: center;
    padding: 0.5em 1em;
    cursor: pointer;
    position: relative;
    transition: all 0.1s linear;
    margin-top: 0.5em;
}
.friend:hover{
    border-bottom: 2px solid rgb(191,195,121);
}
.friend:hover .friendName{
    margin-left:0.5em;
}
.friendPic > img{
    height : 3em;
    width: 3em;
    margin-right: 10px;
    border-radius: 10px;
}
.friendName {
    font-family: 'Roboto',sans-serif;
    font-size: 15px;
    font-weight: 400;
    color :#78909c;
    transition: all 0.3s linear;
}
.friendFallback{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color:rgb(191,195,121);
    flex-direction: column;
}
.friendFallbackHead{
    font-size: 52px;
    font-family: 'Goldman',cursive;
    font-weight: 600;
}
.friendFallbackSubHead{
    font-family: 'Roboto',sans-serif;
}
.newMessage{
    background-color: teal;
    padding: 0.3em;
    color:#ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 13px;
    position: absolute;
    right:0;
}
.chatTitle{
    padding: 1em;
    font-size: 18px;
    width: 100%;
    display: flex;
    align-items: center;
    max-height: calc(1.5 * 18px);
    justify-content: center;
    background-color: rgb(191,195,121);
}
.chatBox{
    flex:1;
    display: flex;
    max-height: 100%;
    overflow: auto;
    position: relative;
}
.messageBox{
    position: absolute;
    bottom :0;
    width: 100%;
    background-color: #eceff1;
    padding: 0.5em;
    display: flex;
    border-bottom-right-radius: 5px;
}
.messageInput{
    flex:1;
    padding: 0 1em;
}
.messageInput > input{
    width: 100%;
    border: none;
    padding: 0.5em;
    caret-color: rgb(191,195,121);
    color:#607d8b;
    line-height: 1.5;
    background-color: transparent;
}
.messageInput > input::placeholder{
    color:rgba(0,0,0,0.3);
    font-family: 'Roboto',sans-serif;
}
.messageInput > input:focus{
    border: none;
    outline: none;
}
.sendButton{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sendButton > svg{
    height:1.618em;
    width:1.618em;
    fill: rgb(191,195,121);
}
.messages{
    flex:1;
    display: flex;
    color : #607D8B;
    font-family: 'Roboto',sans-serif;
    flex-direction: column;
    overflow-y: scroll;
    padding-bottom: 3em;
}
.recipientMessage{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1em;
    flex-direction: column;
}
.senderMessage{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 1em;
    flex-direction: column;
}
.date{
    font-size: small;
}
.msg{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0.8em;
    background-color: teal;
    border-radius: 10px;
    color:#ffffff;
    max-width: 70%;
    font-size: small;
}
.msgRec{
    background-color: rgb(191,195,121);
}