.filterContainer{
    flex:1;
    display: flex;
    flex-direction: row;
    background: #000000;
    position: relative;
}
.playerGrid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 2em;
}
.pagination{
    flex:0.1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination > div{
    margin: 0 0.3em 0 0.3em;
    background-color:#455a64;
    padding: 0.5em;
    height:2em;
    width:2em;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto',sans-serif;
    font-weight: 600;
}
.gameName{
    background: #4B454B;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    padding:1em;
    font-family: 'Goldman',cursive;
}
.filterTitle{
    display: flex;
    padding:1em;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Goldman',cursive;
    border-bottom: 2px solid rgb(191,195,121);
}
.filterContent{
    display: flex;
    padding:1em;
    flex-direction: column;
}
.rankFilter{
    display: flex;
    align-items: center;
    font-size: medium;
    font-weight: 600;
    font-family: 'Goldman',cursive;
}
.rankFilter div{
    margin: 0.1em 0.2em 0.1em 0.2em;
}
.hoursFilter{
    display: flex;
    align-items: center;
    font-size: medium;
    font-weight: 600;
    font-family: 'Goldman',cursive;
}
.hoursFilter div{
    margin: 0.1em 0.2em 0.1em 0.2em;
}

.hoursPlayedTextField input{
    color:#ffffff;
}