.playerCard{
    flex:0 1 calc(33.33% - 0.6em);
    display: flex;
    height: auto;
    background:#757575;
    margin : 0.3em 0.3em;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: all 0.1s ease-in-out;
    
}
.playerCard:hover{
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9) ;
    -o-transform: scale(0.9);
    transform: scale(0.9);
}
.playerCard > .leftInfo{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height:100%;
    padding: 0.5em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}
.profilePic  img{
    height:auto;
    width:6em;
    border-radius: 10px;
}
.playerRank{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.playerRank > div{
    margin : 0.5em 0 0.2em 0;
    font-size: 18px;
    font-weight: 600;
    font-family: "Goldman",cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}
.playerRank > img{
    margin-top: 1em;
    height: 5em;
    width: 5em;
}
.rightInfo{
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    flex:1;
    height: 100%;
    justify-content: space-around;
}
.rightInfo > .displayName{
    padding: 0.3em;
    color:#ffffff;
    font-size: 22px;
    font-weight: 800;
    font-family: 'Goldman',cursive;
}
.rightInfo > .filteredInfo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 1em;
    border-bottom: 1px solid #ffffff;
}
.filterValue{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0.5em 0.5em;
    font-family: 'Goldman',cursive;
    font-weight: 200;
}
.filterValue svg{
    height: 1.5em;
    width: 1.5em;
}
.playerRoles{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-size: 20px;
    font-weight: 200;
    font-family: 'Goldman',cursive;
    margin-top : 1em;
}
.playerRoles svg{
    margin : 0.3em 0.3em;
}
.actionBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin : 1em 0 1em 0;
}