
.homeContainer{
    display: flex;
    flex-direction: column;
    background-image: url('/images/hero-image.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.hero{
    flex:1;
    height: 100vh;
    display: flex;
    padding-top: 0;
    background-color: rgba(0, 0, 0,0.7);
}
.leftHero{
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Goldman',cursive;
}
.rightHero{
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    font-family: 'Goldman',cursive;
    padding: 1em;
}
.rightHero h1{
    font-size: 60px;
    font-weight: 600;
}

.logo{
    padding:1em;
}
.logo svg{
    height:auto;
    width:15em;
}
.logo path{
    fill : rgb(191, 195, 121);
}
.secIcon{
    height: 15em;
    width: 15em;
}
.section1{
    width: 100%;
    display: flex;
}
.s1p1{
    flex:0.6;
    background: rgb(231, 80, 59);
    display: flex;
    justify-content: center;
    align-items: center;
}
.s1p1p1{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}
.s1p1p2{
    flex:1;
    display: flex;
    padding: 2em;
    flex-direction: column;
    color:rgb(229, 229, 229);
}
.s1p2{
    flex: 0.4;
    background: rgb(40, 40, 40);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.s1p2p1{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}
.s1p2p2{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3em;
    padding-top:0;
}
.section2{
    width: 100%;
    display: flex;
}
.s2p1{
    flex:0.4;
    background:  rgb(40, 40, 40);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:2em;
}
.s2p1p1{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.s2p1p2{
    flex:1;
    display: flex;
    padding: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:rgb(229, 229, 229);
}
.s2p2{
    flex: 0.6;
    background:rgb(59, 91, 172);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}
.s2p2p1{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.s2p2p2{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3em;
    padding-top:0;
}

.section3{
    width: 100%;
    display: flex;
    background: #000000;
}
.s3p1{
    justify-content: center;
    align-items: center;
    padding: 2em;
}
.s3Img{
    width:100%;
    height:auto;
}
.s3p2p1{
    flex:1;

}
.s3p2p1 div{
    padding: 1em;
}
.s3p2{
    flex:1;
    padding: 2em;
}
.section4{
   display: flex;
   background-image: url('/images/world-map.png');
   background-color: #000000;
}
.sectionContainer{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-repeat: no-repeat ;
    background-size: contain;
    flex-direction: column;
    flex:1;
    background: rgba(191, 195, 121,0.2);
}
.socialBox{
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 15px 15px rgb(191, 195, 121);
    border-radius: 10px;
    background: transparent;
}
.socialTitle{
    font-family: 'Goldman',cursive;
    font-size: 30px;
    background: transparent;
    padding: 0.5em;
    color:rgb(191, 195, 121)
}
.socialIcon{
    height:40px;
    width:40px;
    margin:0 10px;
    cursor:pointer;
}
.socialIcon:hover{
    fill:#ffffff;
}
.fb{
    fill:#4267B2;
}
.insta{
    fill:#FCAF45;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    color:#ffffff;
    background: rgb(191, 195, 121);
    font-size: large;
    font-weight: 800;
    font-family: 'Goldman',cursive;
}
@media only screen and (max-width : 600px){
    .rightHero h1{
        font-size: 35px;
    }
    .rightHero {
        justify-content: center;
        align-items: flex-start;
        padding: 3em;
    }
    .socialTitle{
        font-size:20px;
    }
    
}
@media only screen and (max-width : 800px){
    .hero{
        flex-direction: column;
    }
    .section1,.section2,.section3{
        flex-direction: column;
    }
    .s1p1{
        flex-direction: column;
    }
    .s1p1p1,.s1p1p2{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .s1p2{
        flex-direction: column;
    }
    .s1p2p1,.s1p2p2{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .s2p1{
        flex-direction: column;
    }
    .s2p2{
        flex-direction: column;
    }
    .secIcon{
        height:10em;
        width:10em;
    }
}