.bottomNav{
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Goldman',cursive;
    z-index: 999999999;
    background:  rgba(255, 255, 255);
    transition: all 0.3s ease-in-out;
}
.logoText{
    flex:0.3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: x-large;
    margin: 0 0.5em 0 0.5em;
    color:rgb(191, 195, 121)
}
.menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex:0.7;
    font-size: medium;
}
.menu > div{
    margin-right: 2em;
    cursor: pointer;
}
.iconText{
    color:rgb(191, 195, 121);
    margin:0 0.5em;
}
.navIcon{
    height:1.5em;
    width:1.5em;
    fill : rgb(191, 195, 121);
}
.navBtn{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:0.5em;
    border-radius:10px;
    position: relative;
}
.navBtn > a{
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}
.active *{
    fill : #4CAF50;
    color:#4CAF50;
}
.dashboard{
    flex-direction: column;
    position: relative;
    transition: all 0.3s ease-in-out;
}
.dashboard:hover > .dropmenu{
    display: flex;
}
.dropmenu{
    display: none;
    position: absolute;
    flex:1;
    top:100%;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.dropmenu div{
    padding: 1em;
    background-color: rgb(191, 195, 121);
    width: 100%;
    color:#ffffff;
    font-size: 'Goldman' , cursive;
    border : 1px solid #ffffff;
    transition: all 0.1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropmenu > div:hover{
    background-color: #fcfcfc;
    color:rgb(191, 195, 121);
    width: 120%;
    /* border : 1px solid rgb(191, 195, 121); */
}
.dropmenuItem{
    color:#ffffff;
    text-decoration: none;
}
.dropmenu :hover .dropmenuItem{
    color:rgb(191,195,121)
}
.notificationCircle{
    height:2em;
    width:2em;
    background-color: #E91E63;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    font-weight: bold;
    color:#ffffff;
    margin: 0 1em;
    padding: 2px;
    font-family: 'Roboto',sans-serif;
    position: absolute;
    top:-2px;
    left :13px;
}
@media only screen and (max-width : 800px){
    .logoText{
        display: none;
    }
    .iconText{
        font-size: 12px;
    }
    .menu{
        flex:1;
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (max-width : 600px){
   
    .navBtn{
        flex-direction: column;
    }
    .navBtn > a{
        flex-direction: column;
    }
    .navIcon{
        height:1.5em;
        width:1.5em;
    }
    .menu > div{
        margin-right:1em;
    }
}