.dashContainer{
    flex:1;
    display: flex;
    flex-direction: row;
    background: #000000;
    position: relative;
}
.dashSideMenu{
    flex:0.15;
    height: 100%;
}
.dashSideMenuContent {
    height: 100%;
    position: relative;
}
.dashProfile > .dashProfilePic {
    padding-top: 3em;
    height: 100%;
    width: 100%;
}
.dashMenu > .dashName{
    padding: 1em 1em;
    background-color: #448AFF;
    font-family: 'Goldman',cursive;
    font-size: 15px;
    font-weight: 800;
    display: flex;
}
.dashMenu > .realName {
    font-size: 13px;
    font-weight: 200;
    padding: 1.5em 1em;
    background-color: #9C27B0;
}
.dashMenu > .dashCountry{
    padding: 1em;
    border-bottom: 1px solid #fcfcfc;
    font-size: 12px;
    font-weight: 600;
    margin-top: 1em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.dashMenu > .dashRank {
    padding: 1em 0.5em;
    display: flex;
    align-items: center;
    font-family: 'Goldman',cursive;
    font-weight: 800;
    font-size: 18px;
    flex-direction: column;
}
.dashMenu > .dashRank > .dashRankIcon {
    height : 3em;
    width : 3em;
    margin-right: 10px;
}
.dashMenu > .dashCountry > svg{
    height: 1.3em;
    width: 1.3em;
    margin-right : 10px;
}
.dashMenu > .dashLogout {
    padding: 0.5em;
    display: flex;
    font-family: 'Roboto',sans-serif;
    color : #ffffff;
    background-color: #D32F2F;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom:0;
    cursor: pointer;
}
.dashMenu > .dashLogout > svg{
    height:1.5em;
    width: 1.5em;
    margin-right: 10px;
    fill:#ffffff;
}
.profileBody{
    flex:calc(1 - 0.15);
    display: flex;
    padding: 1em;
    padding-top: 4em;
}
.profileBody > .profileContainer{
    flex:1;
    /* max-width: 60%;   */
    /* background-color: #D32F2F; */
    height: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto',sans-serif;
}
.profileBody > .profileContainer > .profile{
    font-size: 28px;
    font-family: 'Goldman',cursive;
    font-weight: 800;
    padding-bottom: 1em;
}
.isMic{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Roboto',sans-serif;
}
.isMic > .MuiIconButton-label{
    border : 2px solid #ffffff;
}
.profileHoursPlayed{
    display: flex;
    align-items: center;
    color:#ffffff;
}
.profileHoursPlayed > svg{
    height: 1.5em;
    width: 1.5;
    fill : #ffffff;
    margin-right: 10px;
}
.selectRole{
    display: flex;
    flex-direction: column;    
}
.roles{
    display: flex;
    padding: 1em;
}
.roleTitle{
    font-family: 'Goldman',cursive;
    font-weight: 500;
    font-size: 20px;
}
.roleTitle > svg{
    height:1.5em;
    width:1.5em;
    fill: #FFC107;
    margin-right: 10px;
}
.role{
    font-family: 'Goldman',cursive;
    font-size: 13px;
    margin: 0 20px;
    cursor : pointer;
}
