/* Scroll bar */
*::-webkit-scrollbar {
  width: 0.2em;
}
 
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
*::-webkit-scrollbar-thumb {
  background-color: rgb(191, 195, 121);
  outline: 1px solid rgb(191, 195, 121);
}
/* firefox scrollbar */
*{
  scrollbar-color: #ffffff;
  scrollbar-track-color: rgb(191,195,121);
  scrollbar-width: 0.3em;
}
/* Global Mui Overrides */
.MuiInput-underline:before{
  border-bottom:1px solid #f7f7f7 !important;
}
/* CSS RESET */
*{
  box-sizing: border-box;
}
html,body,#root{
    height:100%;
    width:100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto',sans-serif;
}
#root{
    display: flex;
    flex-direction: column;
}
body{ 
    background-color: #000000;
    transition: all 1s ease-in-out;
    color : #ffffff; /*default text color*/
}
@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');
/* Cards */
.card-1 {
    box-shadow: 0 0px 3px rgba(0,0,0,0.12), 0 0px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  
  .card-1:hover {
    box-shadow: 0 0px 48px rgb(255, 255, 255), 0 0px 10px rgb(255, 255, 255);
  }
  
  .card-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  
  .card-3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  
  .card-4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  
  .card-5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }

  /* Common Css */
.sideMenu{
    flex:0.20;
    display: flex;
    height:auto;
    flex-direction: column;
}
.sideMenu > .sideMenuContent{
    padding-top: 3em;
    background-color: #212121;
    position: fixed;
    max-width: 20%;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    overflow-y: scroll;
    padding-bottom: 3em;
}
.dashBody{
    flex:calc(1 - 0.20);
    display: flex;
    flex-direction: column;
    padding:1em;
    padding-top:4em;
    justify-content: space-between;
}

/* Globar spinner */
.spinner {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.spinner:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
